$font-primary-color: #3b444f;
$font-secondary-color: #93a7c0;
$price-color: #2bcd91;
$star-color: #fdc95a;

$bg-primary: #f4f5f9;
$bg-secondary: #e9ecf1;

$btn-color: #94aac2;
$btn-bg-color: #95a9c2;
$font-primary: "Roboto", sans-serif;
$font-secondary: "Lato", sans-serif;

$font-light: 300;
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;



$modal-backdrop: #64788e;